/* =Tiled Gallery Default Styles
-------------------------------------------------------------- */

.tiled-gallery img {
	/*margin: 2px !important; /* Ensure that this value isn't overridden by themes that give content images blanket margins */
	display: block;
}

.tiled-gallery .gallery-group img {
	width:100%;
}
.tiled-gallery .tiled-gallery-item {
	/*margin: 0 2px 0 0;*/
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
}
.tiled-gallery .gallery-row {
	 overflow: hidden;
}
.tiled-gallery .tiled-gallery-item a { /* Needs to reset some properties for theme compatibility */
	background: transparent;
	border: none;
	color: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	width: auto;
	display:block;
}
.tiled-gallery .tiled-gallery-item img {
	background: none;
	box-shadow: none;
	padding: 0;
	vertical-align: middle;
	display: block;
	opacity: 0;
}
/*.tiled-gallery img:hover {opacity:.6;}*/
.tiled-gallery .gallery-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items:stretch
}
.tiled-gallery .gallery-group{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tiled-gallery .gallery-group.images-2{
	flex-direction: column;
}

.tiled-gallery .tiled-gallery-item{
	border: 2px solid #fff;
}

.tiled-gallery{
	margin:2px
}
